<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.CommodityMapper">


	<resultMap type="com.zb.entity.Commodity" id="allMap">
		<id column="gsCode" property="gsCode" />

		
	</resultMap>



	<select id="getAll"  resultMap="allMap">
	   SELECT * FROM db_commodity
	</select>
	
	<select id="getInfoByGs" resultMap="allMap">
	SELECT * FROM db_commodity where gsCode=#{gsCode}
	</select>
	
	<sql id="getAllPage">
		<if test="gsCode!=null and gsCode!=''">
		  and gsCode=#{gsCode}
		</if>
	</sql>
	<select id="getAllPage"  resultMap="allMap">
	   SELECT * FROM db_commodity where 1=1
	   <include refid="getAllPage"></include>
	  limit #{index} ,#{size}
	</select>
	
	<select id="getAllPageCount"  resultType="int">
	   SELECT count(*) FROM db_commodity where 1=1
	   <include refid="getAllPage"></include>
	</select>
</mapper>
