<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="">


	<resultMap type="" id="">
		<id column="" property="" />
		<result column="" property="" />

	</resultMap>



	<select id="getAll" resultMap="deptMap">
		SELECT
		* FROM dept

	</select>
</mapper>
