<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 加载log4j的配置文件 -->
	<settings>
		<setting name="logImpl" value="LOG4J"></setting>
	</settings>

	<mappers>
		<mapper resource="com/zb/entity/CommodityMapper.xml" />
		<mapper resource="com/zb/entity/NowDataMapper.xml" />
		<mapper resource="com/zb/entity/HisDataMapper.xml" />
		<mapper resource="com/zb/entity/EchartDataMapper.xml" />
		<mapper resource="com/zb/entity/OperationMapper.xml" />
	</mappers>
</configuration>
